<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-Time Simulations</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% for sim_id in simulation_ids %}
    <div id="chart-{{ sim_id }}"></div>
    <h2>{{ sim_id }}</h2>
    <button onclick="Start('{{ sim_id }}')">Start</button>
    <button onclick="pauseSimulation('{{ sim_id }}')">Pause</button>
    <button onclick="resumeSimulation('{{ sim_id }}')">Resume</button>
    <button onclick="Restart('{{ sim_id }}')">Restart</button>
    <button onclick="initiate('{{ sim_id }}')" style="background-color: red; color: white; font-weight: bold;">Initiate</button>
    <div id="initiate-value-{{ sim_id }}">Initiate Value: N/A</div>
    <div id="current-value-{{ sim_id }}">Current Value: 0</div>
    <div id="max-delta-{{ sim_id }}">Max Delta: N/A</div>
    <div id="total-samples-{{ sim_id }}">Total Samples: 0</div> 
    <hr>
    {% endfor %}

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var total_samples = 0;
        var traces = {};  // Object to hold traces for each simulation
        var layouts = {};  // Object to hold layouts for each simulation

        {% for sim_id in simulation_ids %}
        traces['{{ sim_id }}'] = {
            x: [],
            y: [],
            mode: 'lines+markers',
            name: '{{ sim_id }} Data'
        };

        traces['{{ sim_id }}_avg'] = {
            x: [],
            y: [],
            mode: 'lines',
            line: { color: 'green', dash: 'solid' },
            name: '{{ sim_id }} Running Average'
        };

        layouts['{{ sim_id }}'] = {
            title: 'Monte Carlo Simulation: {{ sim_id }}',
            xaxis: {
                title: 'Time',
                range: [Date.now() / 1000 - 30, Date.now() / 1000],  // Display last 30 seconds
                autorange: false
            },
            yaxis: {title: 'Value'},
            showlegend: true
        };

        Plotly.newPlot('chart-{{ sim_id }}', [traces['{{ sim_id }}'], traces['{{ sim_id }}_avg']], layouts['{{ sim_id }}']);
        {% endfor %}

        socket.on('new_data', function(msg) {
            var sim_id = msg.sim_id;
            var time = msg.x;
            var value = msg.y;
            var running_avg = msg.running_avg;
            total_samples += 1;

            // Extend the trace with new data
            Plotly.extendTraces('chart-' + sim_id, {
                x: [[time]],
                y: [[value]]
            }, [0]);

            // Extend the trace for running average if it's not 0
            if (running_avg !== 0) {
                Plotly.extendTraces('chart-' + sim_id, {
                    x: [[time]],
                    y: [[running_avg]]
                }, [1]);  // Assuming [1] is the index for the running average trace
            } else {
                // If running_avg is 0, you may decide to extend with null to avoid a point being plotted
                Plotly.extendTraces('chart-' + sim_id, {
                    x: [[time]],
                    y: [[null]]
                }, [1]);
            }
            
            // Limit the number of points to the last 600
            if (traces[sim_id].x.length > 600) {
                // Truncate the main data trace to the last 600 points
                traces[sim_id].x = traces[sim_id].x.slice(-600);
                traces[sim_id].y = traces[sim_id].y.slice(-600);

                // Truncate the running average trace to the last 600 points
                traces[sim_id + '_avg'].x = traces[sim_id + '_avg'].x.slice(-600);
                traces[sim_id + '_avg'].y = traces[sim_id + '_avg'].y.slice(-600);

                // Update the chart with the truncated data
                Plotly.update('chart-' + sim_id, {
                    x: [traces[sim_id].x, traces[sim_id + '_avg'].x],
                    y: [traces[sim_id].y, traces[sim_id + '_avg'].y]
                });
            }

            // Calculate the minimum and maximum Y values for the Y-axis range
            var yValues = traces[sim_id].y;
            var minY = Math.min(...yValues) - 10;
            var maxY = Math.max(...yValues) + 10;

            // Adjust the min and max Y values if initiate_value is set
            if (msg.initiate_value !== null) {
                minY = Math.min(minY, msg.initiate_value);
                maxY = Math.max(maxY, msg.initiate_value);
            }

            // Update the x-axis range to keep the last 30 seconds in view
            Plotly.relayout('chart-' + sim_id, {
                'xaxis.range': [time - 30, time],
                'yaxis.range': [minY, maxY]
            });

            document.getElementById('current-value-' + sim_id).innerHTML = 'Current Value: ' + value.toFixed(2);
            document.getElementById('total-samples-' + sim_id).innerHTML = 'Total Samples: ' + total_samples;
            if (msg.initiate_value !== null) {
                document.getElementById('initiate-value-' + sim_id).innerHTML = 'Initiate Value: ' + msg.initiate_value.toFixed(2);
                document.getElementById('max-delta-' + sim_id).innerHTML = 'Max Delta: ' + msg.max_delta.toFixed(2);

                // Add or update the horizontal line for the initiate value
                Plotly.relayout('chart-' + sim_id, {
                    shapes: [{
                        type: 'line',
                        x0: time - 30,
                        y0: msg.initiate_value,
                        x1: time,
                        y1: msg.initiate_value,
                        line: {
                            color: 'red',
                            width: 2,
                            dash: 'dash'
                        }
                    }]
                });
            }
        });

        socket.on('clear_data', function(msg) {
            var sim_id = msg.sim_id;
            // Clear the data from the graph and reset layout
            traces[sim_id].x = [];
            traces[sim_id].y = [];
            Plotly.newPlot('chart-' + sim_id, [traces[sim_id]], layouts[sim_id]);
            Plotly.relayout('chart-' + sim_id, { shapes: [] });
            document.getElementById('initiate-value-' + sim_id).innerHTML = 'Initiate Value: ' + 'N/A';
            document.getElementById('max-delta-' + sim_id).innerHTML = 'Max Delta: ' + 'N/A';
        });

        function pauseSimulation(sim_id) {
            socket.emit('pause', {sim_id: sim_id});
        }

        function resumeSimulation(sim_id) {
            socket.emit('resume', {sim_id: sim_id});
        }

        function initiate(sim_id) {
            socket.emit('initiate', {sim_id: sim_id});
        }

        function Restart(sim_id) {
            socket.emit('restart', {sim_id: sim_id});
        }

        function Start(sim_id) {
            socket.emit('start', {sim_id: sim_id});
        }
    </script>
</body>
</html>
